{% extends 'base.html' %}
{% load staticfiles %}
{% load macros %}
{% loadmacros 'macros.html' %}
{% load thumbnail %}

{% block title %}
    {% usemacro project_name_no_markup %} Submission
{% endblock %}

{% block body %}
    <section id="content" class="container photo-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Join the <a href="{% url 'call_for_submissions' %}">{% usemacro project_name %}</a> Project</h2>
            </div>
        </div>
        <div class="row photo_row">
            <div class="col-lg-12 photo_col">
                <a href="{% url 'call_for_submissions' %}"><img class="photo_single" src="{{ thumbnail_url }}" /></a>
            </div>
        </div>
    </section>
{% endblock %}
