{% load staticfiles %}
{% load macros %}
{% loadmacros 'macros.html' %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'startbootstrap-grayscale-gh-pages/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'startbootstrap-grayscale-gh-pages/css/grayscale.css' %}" rel="stylesheet">

    <link rel='stylesheet' href='{% static 'css/photoclock.css' %}'>
    {% block extra_styles %}
    {% endblock %}

    <!-- Custom Fonts -->
    <link href="{% static 'startbootstrap-grayscale-gh-pages/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{% static 'js/GoogleAnalytics.js' %}"></script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


    {% block body %}
    {% endblock %}

    <!-- jQuery -->
    <script src="{% static 'startbootstrap-grayscale-gh-pages/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'startbootstrap-grayscale-gh-pages/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'startbootstrap-grayscale-gh-pages/js/jquery.easing.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'startbootstrap-grayscale-gh-pages/js/grayscale.js' %}"></script>

    {% block extra_scripts %}
    {% endblock %}

</body>

</html>
